.vscode
.cache/

build
data
results
rfdata
navtools
satutils
navsim
spdlog
eigen3
sturdins
sturdr
sturdds
sturdio

__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.vscode
.venv
.sturdenv

_OLD
__OLD
OLD
OLD_DELETE
DELETE